@model PersonForm

@{
    ViewData["Title"] = "Ajouter une personne";
}

<h1>Ajouter une personne</h1>

<form method="post">
    <div>
        <label for="firstname">Prénom</label>
        <input id="firstname" type="text" name="firstname" value="@Model.Firstname" />
    </div>
    <div>
        <label for="lastname">Nom</label>
        <input id="lastname" type="text" name="lastname" value="@Model.Lastname" />
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" value="@Model.Email" />
    </div>
    <div>
        <label for="secret">Secret</label>
        <input id="secret" type="password" name="secret" value="@Model.Secret" />
    </div>
    <button type="submit">Ajouter</button>
</form>

<div class="text-danger">
    @Html.ValidationSummary()
</div>