@model PersonForm

@{
    ViewData["Title"] = "Ajouter une personne";
}

<h1>Ajouter une personne</h1>
@Html.ActionLink("Retour à la liste", "Index", "Person", null, new { @class = "btn btn-warning mb-2"})

@using(@Html.BeginForm(FormMethod.Post, new { @class = "text-primary" })) {
    <div class="mb-1">
        @Html.LabelFor(Model => Model.Firstname)
        @Html.EditorFor(Model => Model.Firstname, new { htmlAttributes = new { placeholder = "Jo"} })
        @Html.ValidationMessageFor(Model => Model.Firstname, null, new { @class = "text-danger" })
    </div>
    <div class="mb-1">
        <label for="Lastname">@Html.DisplayNameFor(Model => Model.Lastname)</label>
        <input id="Lastname" type="text" name="lastname" value="@Model.Lastname" />
        @Html.ValidationMessageFor(Model => Model.Lastname, null, new { @class = "text-danger" })
    </div>
    <div class="mb-1">
        @Html.LabelFor(Model => Model.Email)
        @Html.EditorFor(Model => Model.Email)
        @Html.ValidationMessageFor(Model => Model.Email, null, new { @class = "text-danger" })
    </div>
    <div class="mb-1">
        @Html.LabelFor(Model => Model.Secret)
        @Html.EditorFor(Model => Model.Secret)
        @Html.ValidationMessageFor(Model => Model.Secret, null, new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-dark">Ajouter</button>
}